/* no change */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

 /* standardise the font-family and font-size for the whole script in one body section, and reset a background color */
body {
    background-color: rgb(222, 225, 231);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* adjust the padding down, remove the font-family, reset a background-color, justify-content to have space-between, and align items to the centre for header */
.header {
    padding: 10px;
    background-color: #b5bdc5;
    color: #ffffff;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* add a navigation section for the three sections */
.navigation ul {
    list-style-type: disc;
    padding: 0;
    margin: 0;
    display: flex;
}

.navigation li {
    margin-left: 30px;
}

.navigation a {
    color: #080808;
    text-decoration: rgb(233, 237, 237);
}

/* adjust font-size */
.header h1 {
    display: inline-block;
    font-size: 50px;
}

/* change color */
.header h1 .seo {
    color: #0e0e0e;
}

/* remove font family */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

/* add flex for display and justify content to the centre */
.header div ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* style anchor with font-weight */
a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

/* provide a font-size and color for p */
p {
    font-size: 18px;
    color: rgb(72, 67, 67);
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* reduce the margin */
.float-left {
    float: left;
    margin-right: 20px;
}

/* reduce the margin */
.float-right {
    float: right;
    margin-left: 20px;
}

/* reduce the left margin and add a right margin */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 10px;
    margin-right: 20px;
}

/* reduce the margin and padding, remove the font-family, reset colour to increase contrast */
.benefits {
    margin-left: 10px;
    padding: 10px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #C7CED5;
}

/* consolidate the benefit */
.benefit {
    margin-bottom: 50px;
    color: black;
    font-weight: lighter;
}

/* consolidate the benefit with h3 */
.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
    font-weight: lighter;
}

/* consolidate the benefit with img */
.benefit img {
    display: block;
    margin: 15px auto;
    max-width: 110px;
}

/* consolidate all the three services into one, reset colour to increase contrast */
.service {
    margin-bottom: 10px;
    padding: 50px;
    height: 300px;
    background-color: #C7CED5;
    color: black;
}

/* consolidate the services with image into one */
.service img {
    max-height: 230px;
}

/* consolidate the services with h2 into one*/
.service h2 {
    margin-bottom: 30px;
    font-size: 45px;
    font-weight: lighter;
}

/* remove the font-family */
.footer {
    padding: 30px;
    clear: both;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}

